C++/KPP/Project/Project.xcodeproj
C++/Boost/Exercise_1/Exercise_1.xcodeproj
C++/Codewars/Project/Project.xcodeproj
C++/Diary/Diary.xcodeproj

C++/KDandPL/LabWork_1/LabWork_1.xcodeproj
C++/KDandPL/LabWork_2/LabWork_3_Operator.xcodeproj
C++/KDandPL/LabWork_3/LabWork_3_Operator.xcodeproj

C++/KPP/Lab/Lab.xcodeproj
C++/KPP/LabWork/LabWork.xcodeproj
C++/KPP/Project/Project.xcodeproj

C++/SPOVM/LabWork_1/LabWork_1.xcodeproj
C++/SPOVM/LabWork_2/LabWork_2.xcodeproj
C++/SPOVM/LabWork_3/LabWork_3.xcodeproj
C++/SPOVM/LabWork_4/LabWork_4.xcodeproj
C++/SPOVM/LabWork_5/LabWork_5.xcodeproj
C++/SPOVM/LabWork_6/LabWork_6.xcodeproj


С/LabWork_1/LabWork_1.xcodeproj
С/LabWork_2/LabWork_2.xcodeproj
С/LabWork_3/LabWork_3.xcodeproj
С/LabWork_4/LabWork_4.xcodeproj
С/LabWork_5/LabWork_5.xcodeproj
С/LabWork_6/LabWork_6.xcodeproj
С/LabWork_7/LabWork_7.xcodeproj
